<ion-header>
  <ion-toolbar color=primary>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>CardiaHealth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides scrollbar="true" [options]="slideOpts">
    <ion-slide>
      <ion-img src="../../assets/tutorial_1.jpeg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../assets/tutorial_2.jpeg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../assets/tutorial_3.jpeg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../assets/tutorial_4.jpeg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../assets/tutorial_5.jpeg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../assets/tutorial_6.jpeg"></ion-img>
    </ion-slide>
  </ion-slides>
</ion-content>
